// import the _variables
@import '../../_variables.scss';

.drivers {
	width: 100%;

	.header {
		position: fixed;
		width: calc(100% - 40px);
		background-color: #FFF;
		font-weight: 700;
		font-size: 20px;
		font-size: 2rem;
		padding: 10px 0;
		@include noselect;

		.controls {
			button {
				background-color: $color_grey_light;
				color: #6C6C6C;
				border: 0;
				font-weight: 300;
				font-size: 18px;
				font-size: 1.8rem;
				padding: 3px 20px;
				@include transition(all, 0.1s, linear);

				&:disabled {
					color: #CCC;

					&:hover {
						text-decoration: none;
						@include boxShadow(none);
					}
				}

				&:hover {
					text-decoration: none;
					@include boxShadow(0, 2px, 4px, 0, rgba(0,0,0,0.25), inset);
				}

				&:first-child {
					@include borderRadius(4px, 0, 0, 4px);
				}

				&:last-child {
					@include borderRadius(0, 4px, 4px, 0);
				}
			}

			input {
				display: block;
				border: 0;
				padding: 8px 4px;
				margin-bottom: 6px;
				margin-left: auto;
				background-color: $color_grey_light;
				font-weight: 300;
				font-size: 16px;
				font-size: 1.6rem;
				@include borderRadius;
			}
		}

		.columns {
			border-bottom: 1px solid $color_font_dark;

			span {
				cursor: pointer;
				position: relative;
				padding-left: 12px;
			}
		}
	}

	.body {
		padding-top: 94px;

		.loader {
			height: 200px;
			display: flex;
			align-items: center;
			justify-content: center;

			.fa {
				color: $color_grey;
			}
		}

		> div {
			font-size: 18px;
			font-size: 1.8rem;

			a {
				padding: 3px 6px;
				text-decoration: none;
				color: $color_font_dark;
				@include borderRadius;
				@include transition(all, 0.1s, linear);

				&:hover {
					background-color: $color_bluegrey_light;
				}
			}

			span {

			}
		}
	}
}