<div>
	<section sortable-table (sorted)="sortGrid($event)" class="drivers">
		<div class="header">
			<div class="controls pure-g">
				<div class="pagination pure-u-1-2">
					<button (click)="pagination('bwd')" [disabled]="offset === 0 || driversLoading"><i class="fa fa-angle-left"></i> Previous page</button>
					<button (click)="pagination('fwd')" [disabled]="!allowFwd || driversLoading">Next page <i class="fa fa-angle-right"></i></button>
				</div>
				<div class="pure-u-1-2">
					<input [(ngModel)]="filterValue" (ngModelChange)="filterGrid($event)" [disabled]="driversLoading" placeholder="Filter Results" maxlength="20">
				</div>
			</div>
			<div class="columns pure-g">
				<span class="pure-u-1-4" sortable-column="familyName" sort-direction="asc">Last Name</span>
				<span class="pure-u-1-4" sortable-column="givenName">First Name</span>
				<span class="pure-u-1-4" sortable-column="dateOfBirth">Date of Birth</span>
				<span class="pure-u-1-4" sortable-column="nationality">Nationality</span>
			</div>
		</div>
		<div class="body">
			<div *ngIf="driversLoading" class="loader">
				<i class="fa fa-circle-o-notch fa-spin fa-3x"></i>
			</div>
			<div *ngIf="driversFiltered && driversFiltered.length === 0 && !driversLoading" class="loader">
				<h3><i class="fa fa-search"></i> No results found.</h3>
			</div>
			<div *ngFor="let driver of driversFiltered">
				<a routerLink="/driver/{{ driver.driverId }}" class="pure-g">
					<span class="pure-u-1-4">{{ driver.familyName }}</span>
					<span class="pure-u-1-4">{{ driver.givenName }}</span>
					<span class="pure-u-1-4">{{ driver.dateOfBirth | date }}</span>
					<span class="pure-u-1-4">{{ driver.nationality }}</span>
				</a>
			</div>
		</div>
	</section>
</div>
