@import '../../_variables.scss';

.driver-profile {
	.info {
		position: fixed;
		width: calc(20% - 20px);

		> button {
			margin-top: 20px;
			border: 0;
			background-color: #FFF;
			text-decoration: underline;
			font-style: italic;
		}

		> div {
			background-color: $color_grey_light;
			margin-top: 10px;
			padding: 10px;
			@include borderRadius(10px);

			> h1 {
				font-weight: 500;
				font-size: 20px;
				font-size: 2rem;
				margin: 0 0 10px;
			}

			> span {
				display: block;
			}
		}
	}

	.results {
		padding: 0 10px 10px;
		margin-left: 20%;

		.header {
			position: fixed;
			width: calc(80% - 40px);
			background-color: #FFF;
			font-weight: 400;
			font-size: 18px;
			font-size: 1.8rem;
			padding: 10px 0;
			@include noselect;

			> input {
				display: block;
				border: 0;
				padding: 8px 4px;
				margin-bottom: 6px;
				margin-left: auto;
				background-color: #EEE;
				font-weight: 300;
				@include borderRadius;
			}

			> div {
				border-bottom: 1px solid $color_font_dark;

				span {
					cursor: pointer;
					position: relative;
					padding-left: 12px;
				}
			}
		}

		.body {
			padding-top: 93px;

			.loader {
				height: 200px;
				display: flex;
				align-items: center;
				justify-content: center;

				.fa {
					color: $color_grey;
				}
			}

			.race {
				font-size: 16px;
				font-size: 1.6rem;
				padding: 3px 6px;
				@include borderRadius;
				@include transition(all, 0.1s, linear);

				&:hover {
					background-color: $color_grey_light;
				}

				span {
					padding: 1px 2px;
					text-align: center;

					&.race-name {
						text-align: left;
					}
				}
			}
		}
	}
}