<section class="driver-profile pure-g">
	<div class="info pure-u-1-5">
		<button (click)="goBack()">
			<i class="fa fa-angle-left"></i> go back
		</button>
		<div>
			<h1>{{ driverInfo.familyName }}, {{ driverInfo.givenName }}</h1>
			<span><strong>Born</strong> {{ driverInfo.dateOfBirth | date }}</span>
			<span><strong>Nationality</strong> {{ driverInfo.nationality }}</span>
			<span *ngIf="driverInfo.url">
				<a href="{{ driverInfo.url }}" target="_blank">{{ driverInfo.url }}</a>
		</span>
		</div>
	</div>
	<div sortable-table (sorted)="sortGrid($event)" class="results pure-u-4-5">
		<div class="header">
			<input ngModel (ngModelChange)="filterGrid($event)" placeholder="Filter Results" maxlength="20">
			<div class="pure-g">
				<span class="pure-u-1-8" sortable-column="season" sort-direction="asc">Season</span>
				<span class="pure-u-1-8" sortable-column="round">Round</span>
				<span class="pure-u-1-8" sortable-column="raceName">Race</span>
				<span class="pure-u-1-8" sortable-column="position">Position</span>
				<span class="pure-u-1-8" sortable-column="points">Points</span>
				<span class="pure-u-1-8" sortable-column="grid">Grid</span>
				<span class="pure-u-1-8" sortable-column="laps">Laps</span>
				<span class="pure-u-1-8" sortable-column="constructor">Constructor</span>
			</div>
		</div>
		<div class="body">
			<div *ngIf="raceResultsLoading" class="loader">
				<i class="fa fa-circle-o-notch fa-spin fa-3x"></i>
			</div>
			<div *ngIf="driverRaceResultsFiltered && driverRaceResultsFiltered.length === 0 && !raceResultsLoading" class="loader">
				<h3><i class="fa fa-search"></i> No results found.</h3>
			</div>
			<div *ngFor="let race of driverRaceResultsFiltered" class="race">
				<span class="pure-u-1-8">{{ race.season }}</span>
				<span class="pure-u-1-8">{{ race.round }}</span>
				<span class="race-name pure-u-1-8">{{ race.raceName }}</span>
				<span class="pure-u-1-8">{{ race.position }}</span>
				<span class="pure-u-1-8">{{ race.points }}</span>
				<span class="pure-u-1-8">{{ race.grid }}</span>
				<span class="pure-u-1-8">{{ race.laps }}</span>
				<span class="pure-u-1-8">{{ race.constructor }}</span>
			</div>
		</div>
	</div>
</section>
