#main-container {

	header {
		position: fixed;
		z-index: 1;
		width: 100%;
		background: center / cover no-repeat url('../assets/img/header.jpg');
		padding: 20px 0;

		&::before {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 1;
			width: 100%;
			height: 100%;
			background: rgba(255, 255, 255, 0.85);
			background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.6) 100%);
		}

		.logo {
			position: relative;
			z-index: 2;
			text-align: center;

			img {
				width: 200px;
				height: auto;
			}

			h1 {
				font-style: italic;
				font-size: 20px;
				font-size: 2rem;
				margin: 0;
				font-weight: 300;
			}
		}
	}

	#main-content {
		padding: 167px 20px 10px 20px;
	}

	footer {

	}
}