<div id="main-container">
	<header id="header">
		<div class=logo>
			<img src="../../assets/img/logo.png" alt="f1 logo">
			<h1>Driver Index</h1>
		</div>
	</header>

	<div id="main-content">
		<router-outlet></router-outlet>
	</div>

	<footer id="footer">

	</footer>
</div>