// variables
$color_alert_info		: #4893F5;
$color_alert_success	: #7CC17F;
$color_alert_warning	: #EAA844;
$color_alert_error		: #EB5A54;
$color_bluegrey			: #708090;
$color_bluegrey_light	: #9Ab2CA;
$color_grey				: #CCC;
$color_grey_light		: #EEE;
$color_font_dark		: #212121;

// mixins
@mixin noselect() {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

@mixin transition($property, $duration, $function) {
	-webkit-transition: $property $duration $function;
	-moz-transition: $property $duration $function;
	-ms-transition: $property $duration $function;
	-o-transition: $property $duration $function;
	transition: $property $duration $function;
}

@mixin borderRadius($tl: 4px, $tr: null, $bl: null, $br: null) {
	@if $tr != null {
		-webkit-border-radius: $tl $tr $bl $br;
		-moz-border-radius: $tl $tr $bl $br;
		border-radius: $tl $tr $bl $br;
	} @else {
		-webkit-border-radius: $tl;
		-moz-border-radius: $tl;
		border-radius: $tl;
	}
}

@mixin boxShadow($left, $top: 0, $radius: 0, $spread: 0, $color: 0, $inset: null) {
	@if $left != none {
		-webkit-box-shadow: $inset $left $top $radius $spread $color;
		-moz-box-shadow: $inset $left $top $radius $spread $color;
		box-shadow: $inset $left $top $radius $spread $color;
	} @else {
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
	}
}