/* You can add global styles to this file, and also import other style files */

// import pureCss for normalize, and basic responsive grid
@import url('purecss/build/base-min.css');
@import url('purecss/build/grids-min.css');
@import url('purecss/build/grids-responsive-min.css');

// import the Roboto font
@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,700,700i');

// import the _variables
@import 'variables.scss';

// master styles
*,
*::after,
*::before {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 62.5%;
	height: 100%;
}

body {
	font: 300 16px/1.6 'Roboto', sans-serif;
	font-size: 1.6rem;
	color: #212121;
	height: 100%;
	color: $color_font_dark;
}

::selection {
	background: $color_alert_info;
	color: #FFF;
	text-shadow: none;
}

::-moz-selection {
	background: $color_alert_info;
	color: #FFF;
	text-shadow: none;
}

html,
button,
input,
select,
textarea,
.pure-g [class *= "pure-u"] {
	font-family: 'Roboto', sans-serif;
}